<div class="entry">
	<h2><%= @post.title %></h2>
	<ul><% @post.tags.each do |tag| %><li><a href="<%= tag_url(:slug => tag.name) %>"><%= tag %></a></li><% end %></ul>
	<%= image_tag @post.image.url(:large) %>
</div>

<div id="pagination">
	<% if @post.previous %><a class="prev" href="<%= short_url(:slug => @post.previous.slug) %>">&#8592; <%= @post.previous.title %></a><% end %>
	<% if @post.next %><a class="next" href="<%= short_url(:slug => @post.next.slug) %>"><%= @post.next.title %> &#8594;</a><% end %>
	
	<p class="copyright">&copy; Images are copyright of their respective owners. I just don't know who they are.</p>
</div>

