<% @posts.each do |post| %>
	<div class="entry">
		<h2><a href="<%= short_url(:slug => post.slug) %>"><%= post.title %></a></h2>
		<ul><% post.tags.each do |tag| %><li><a href="<%= tag_url(:slug => tag.name) %>"><%= tag %></a></li><% end %></ul>
		<div class="image"><a href="<%= short_url(:slug => post.slug) %>" title="<%= post.title %>"><%= image_tag post.image.url(:large), :alt => post.title %></a></div>
	</div>
<% end %>

<div id="footer">
	<%= will_paginate @posts %>
	<p class="copyright">&copy; Images are copyright of their respective owners. I just don't know who they are.</p>
</div>
