<h1>Unpublished Posts</h1>

<p>
	<%= page_entries_info @posts %>
	<%= will_paginate @posts %>
</p>

<div>
<% @posts.each do |post| %>
	<div style="width:200px;height:200px; float: left; padding: 10px; text-align:center">
	<%= link_to image_tag(post.image.url(:small)), post %></div>
<% end %>
</div>

<p style="clear:both;">
	<%= page_entries_info @posts %>
	<%= will_paginate @posts %>
</p>

<p><%= link_to 'New Post', new_post_path %></p>