<% content_for :content do %>

	<p id="notice"><%= notice %></p>
	

	<%= render :partial => "layouts/post", :locals => { :post => @post, :format => :large } %>


	<%= form_for(@post) do |f| %>
	  <% if @post.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

	      <ul>
	      <% @post.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>

	  <div class="field">
	    <%= f.label :title %>
	    <%= f.text_field :title %>
	  </div>

	  <div class="field">
	    <%= f.label :tag_list %>
	    <%= f.text_field :tag_list, :autocapitalize => "off" %> <a class="cloud-toggle">Show tag cloud</a>
	  </div>

	  <div class="field">
	    <%= f.label :source_title %>
	    <%= f.text_field :source_title %>
	  </div>

	  <div class="field">
	    <%= f.label :source_url %>
	    <%= f.text_field :source_url %>
	  </div>

      <div class="field not-mobile">
          <%= f.label :image, 'Replace Image' %>
          <%= f.file_field :image %>
      </div>

      <div class="field not-mobile">
        <a target="_blank" href="http://google.com/searchbyimage?image_url=<%= @post.image.url(:large) %>">Find Source</a>
      </div>

	  <div class="actions">
	    <%= f.submit 'Save' %>
	  </div>
	<% end %>
	
	<% if !@post.published_at %>
		<% if @post.publishable %>
			<%= form_for @post, :url => { :action => "publish" } do |f| %>
			  <% if @post.errors.any? %>
			    <div id="error_explanation">
			      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

			      <ul>
			      <% @post.errors.full_messages.each do |msg| %>
			        <li><%= msg %></li>
			      <% end %>
			      </ul>
			    </div>
			  <% end %>
			  <div class="actions">
			    <%= f.submit "Publish" %>
			  </div>
			<% end %>
		<% end %>
	<% end %>
	
    <%= link_to 'Delete', @post, confirm: 'Are you sure?', method: :delete %>
	
<% end %>