<div class="entry">
	<% if @post.title %><h2><%= @post.title %></h2><% end %>
	<p id="notice"><%= notice %></p>
	<%= image_tag @post.image.url(:large) %>
	
	<%= form_for(@post) do |f| %>
	  <% if @post.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

	      <ul>
	      <% @post.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>

	  <div class="field">
	    <%= f.label :title %>
	    <%= f.text_field :title %>
	  </div>

	  <div class="field">
	    <%= f.label :tag_list %>
	    <%= f.text_field :tag_list %> <a class="cloud-toggle">Show tag cloud</a>
	  </div>
	  
	  <ul class="tag-cloud" style="display: none;">
          <% tag_cloud(@tags, %w()) do |tag, css_class| %>
                <li><a class="<%= css_class %>"><%= tag.name %></a></li>
          <% end %>
      </ul>

	<% if @post.published_at %>
	    <div class="field">
			<label>Tweet content:</label>
			<input type="text" value="<%= @post.title %> <%= short_url(:slug => @post.slug) %>" />
		</div>
	
		<div class="field">
			<label>Published at:</label>
			<input disabled="disabled" type="text" value="<%= @post.published_at %>">
		</div>
		<div class="field">
			<label>Slug:</label>
			<input disabled="disabled" type="text" value="<%= @post.slug %>">
		</div>
	<% end %>

	  <div class="actions">
	    <%= f.submit 'Save' %>
	  </div>
	<% end %>
	
	<% if !@post.published_at %>
		<% if @post.publishable %>
			<%= form_for @post, :url => { :action => "publish" } do |f| %>
			  <% if @post.errors.any? %>
			    <div id="error_explanation">
			      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

			      <ul>
			      <% @post.errors.full_messages.each do |msg| %>
			        <li><%= msg %></li>
			      <% end %>
			      </ul>
			    </div>
			  <% end %>
			  <div class="actions">
			    <%= f.submit "Publish" %>
			  </div>
			<% end %>
		<% end %>
	<% end %>
	
	<!-- <%= link_to 'Destroy', @post, confirm: 'Are you sure?', method: :delete %> -->
	
</div>
