<% content_for :styles do %><% end %>
<% content_for :scripts do %>
    <%= javascript_include_tag "application" %>
<% end %>

<% content_for :content do %>
<div class="navigation">
	<ul>
		<li class="<% if @status == 'drafts' %>active<% end %>"><a href="<%= list_url(:status => 'drafts') %>"><span>Drafts</span> <em>(<%= @draft_count %>)</em></a></li>
		<li class="<% if @status == 'backlog' %>active<% end %>"><a href="<%= list_url(:status => 'backlog') %>"><span>Backlog</span> <em>(<%= @backlog_count %>)</em></a></li>
		<li class="<% if @status == 'published' %>active<% end %>"><a href="<%= list_url(:status => 'published') %>"><span>Published</span> <em>(<%= @published_count %>)</em></a></li>
		<li class="<% if @status == 'unattributed' %>active<% end %> not-mobile"><a href="<%= list_url(:status => 'unattributed') %>"><span>Unattributed</span> <em>(<%= @unattributed_count %>)</em></a></li>
		<li class="<% if @status == 'upload' %>active<% end %> not-mobile"><a href="<%= new_post_url %>">Upload</a></li>
	</ul>
</div>

<div id="content">
	<%= yield %>
</div>
<% end %>

<%= render :template => 'layouts/application' %>