<% content_for :scripts do %>
    <%= javascript_include_tag "application" %>
<% end %>

<% content_for :body_class do %>admin<% end %>

<% content_for :navigation do %>
	<ul>
	    <li class="<% if @status == 'backlog' %>active<% end %>"><a href="<%= posts_path %>"><span>Backlog</span> <em>(<%= @backlog_count %>)</em></a></li>
		<li class="<% if @status == 'drafts' %>active<% end %>"><a href="<%= drafts_posts_path %>"><span>Drafts</span> <em>(<%= @draft_count %>)</em></a></li>
		<li class="<% if @status == 'published' %>active<% end %>"><a href="<%= published_posts_path %>"><span>Published</span> <em>(<%= @published_count %>)</em></a></li>
		<li class="<% if @status == 'unattributed' %>active<% end %> not-mobile"><a href="<%= unattributed_posts_path %>"><span>Unattributed</span> <em>(<%= @unattributed_count %>)</em></a></li>
		<li class="<% if @status == 'attributed' %>active<% end %> not-mobile"><a href="<%= attributed_posts_path %>"><span>Attributed</span> <em>(<%= @attributed_count %>)</em></a></li>
		<li class="<% if @status == 'unpublished' %>active<% end %> not-mobile"><a href="<%= unpublished_posts_path %>"><span>Unpublished</span> <em>(<%= @unpublished_count %>)</em></a></li>
		<li class="<% if @status == 'upload' %>active<% end %> not-mobile"><a href="<%= new_post_path %>">Upload</a></li>
	</ul>

	<form action="<%= search_posts_path %>" method="GET" class="search">
		<input type="text" placeholder="Search" name="q" value="<%= params[:q] %>" />
	</form>
<% end %>

<% content_for :footer do %>
	<% if @status == 'backlog' %>
		<div class="pagination"><a class="backlog" href="<%= posts_url %>">Load new backlog images</a></div>
	<% else %>
		<% if @posts %>
			<%= will_paginate @posts %>
		<% end %>
	<% end %>
<% end %>

<%= render :template => 'layouts/application' %>