<!DOCTYPE html>
<html>
<head>
  <title><% if @title %><%= @title %> | <% end %>Canty Shanty</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
