<% if content_for?(:analytics) %><%= yield(:analytics) %><% end %>

<% content_for :body_class do %>public<% end %>

<% content_for :analytics do %>
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-9639324-4']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>	
<% end %>

<% content_for :navigation do %>
	<form action="<%= search_url %>" method="GET" class="search">
		<input type="text" placeholder="Search" name="q" value="<%= params[:q] %>" />
	</form>
<% end %>

<% content_for :content do %>
	<%= yield %>
<% end %>

<% content_for :footer do %>
	<% if @posts %>
		<%= will_paginate @posts,
			:previous_label => '&larr;<span> Previous</span>',
			:next_label => '<span>Next </span>&rarr;' %>
	<% end %>

	<% if @post %>
		<div class="pagination">
			<% if @post.previous %><a class="previous_page" href="<%= short_url(:slug => @post.previous.slug) %>">&larr;<span> <%= @post.previous.title %></span></a><% end %>
			<% if @post.next %><a class="next_page" href="<%= short_url(:slug => @post.next.slug) %>"><span><%= @post.next.title %> </span>&rarr;</a><% end %>
		</div>
	<% end %>
<% end %>

<%= render :template => 'layouts/application' %>